*{
    margin: 0;
}

main{
    padding: 40px;
}

header{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 1rem;
    background-color: blue;
    color: white;
}

.title{
    display: block;
    margin-right: auto;
    font-size: 30px;
}

.logo{
    height: 40px;
    width: 40px;
    padding-right: 15px;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.input {
    border-radius: 5px;
    border: 1px solid gray;
    text-indent: 5px;
}

.button {
    grid-column: 1 / -1;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.image {
    max-width: 100%;
    padding: 1rem;
}